<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .btn {
        background-color: #20b2aa;
        color: white;
        padding: 15px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
    }
    .t {
        color:  #20b2aa;
    }
</style>
</head>
<body>
<h2 class="t">Configuration vlan</h2>
<p>Click on the button at the bottom of this page to open the configuration form.</p>
<a class="btn" href="/reseaux/reseaux/form1">Router</a>
<a class="btn" href="/reseaux/reseaux/form2">Switch</a>
</body>
</html>